body{
  font-size: 20px;
  font-family: sans-serif;
  padding: 40px;
  background-color: azure;
}

h1{
  font-size: 2em;
  margin-bottom: 1em;
}
//color
h2{
  font-size: 1.5em;
  padding-top: 1em;
  border-top: 2px solid lightgrey;
}

h3{
  font-size: 1.3em;
  margin-bottom: 1em;
}

//
h4{
  padding: 15px;
  padding-left: 0px;
  font-weight: bold;
}

form{
  background-color: CornflowerBlue;
  border: 5px solid GhostWhite;
  padding: 20px;
}

label, input, button{
  display: block;
  margin-bottom: 20px;
}

input{
  width: 100%;
}

button, input{
  font-size: 1em;
  padding: 5px;
}

button{
  cursor: pointer;
  background-color:  dimgray ;
  color: whitesmoke;
}

button:hover{
  background-color: lightgray;
  color: black;
}

.date{
  font-style: italic;
}

p{
  margin-bottom: 1em;
}

#result{
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 30px;
  margin-top: 30px;
}

#result img{
  width: 100%;
}

#hdimage img{
  width: 70%;
  height: auto;
  transform: translate(10%, 10%,10%);
  margin-top: 30px;
  margin-bottom: 30px;
}

.hidden{
  display: none;
  pointer-events: none;
  }

  li{
    display: flex-inline;
    margin-top: 25px;
    background-color: Gainsboro;
  }